* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: blue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: white;
    background-image: linear-gradient(to top, white 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    font-size: 2rem;
    align-items: center;
    padding: 0 1rem;
    font-weight: bold;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: white;
    color: blue;
}

.button:hover {
    background: black;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: black;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        height: 50vh;
        z-index: -1;
    }
    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        height: 50vh;
        z-index: 99;
        font-size: 1.6rem;
        background: blue;
    }
    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    
    .main__container h1{
        margin-top: 5px;
        padding-left: 5px;
        text-align: center;
        font-size: 30px; 
    }
    
    .main__container p{
        padding-left: 5px; 
        text-align: center;
        font-weight: bold;
    }

    .main__container h2{
        padding-left: 5px; 
        text-align: center;
    }

    .form-container {
        background-color: white;
        padding: auto;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
        align-items: center;
        justify-content: center
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        margin-bottom: 5px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        text-align: left;
    }
    
    input, textarea {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        opacity: 1;
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        opacity: 1;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32.5px;
}

.card {
    width: 325px;
    background-color: blue;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    height: 100%;
    max-height: 250px;
}

.card-content {
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
    color: white;
}

.card-content p {
   color: white;
    font-size: 15px;
    line-height: 1.3;
}


.main__container h1{
    padding-left: 5px;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
}

.main__container p{
    padding-left: 20px; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.main__container h2{
    padding-left: 5px; 
    text-align: center;
}

.main__container h3{
    padding-left: 5px; 
    text-align: center;
    font-size: 22px;
}

.main__img__container img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}




.main__container__contact h1{
    padding-left: 90px;
    text-align: left;
    font-size: 30px;
}


.main__container__contact h2{
    padding-left: 40px; 
    text-align: left;
}


.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    justify-content: center
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    color: white;
    background-color: blue;
    font-weight: bold;
    align-self: center;
    font-size: 15px;
}


.main__container__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);


